<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%
    <!--Codigo javascript en el servidor-->
    %>
    <!--
        No es necesario indicar el directorio completo como "public/stylesheets/style.css"
        ya que este se define en: (app.js) app.use(express.static(path.join(__dirname, 'public')));
    -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <!--Permite incluir otras plantillas-->
    <!--
      https://www.npmjs.com/package/ejs

      Control flow with <% %>
      Escaped output with <%= %> (escape function configurable)
      Unescaped raw output with <%- %>
      Newline-trim mode ('newline slurping') with -%> ending tag
      Whitespace-trim mode (slurp all whitespace) for control flow with <%_ _%>
      Custom delimiters (e.g., use <? ?> instead of <% %>)
      Includes
      Client-side support
      Static caching of intermediate JavaScript
      Static caching of templates
      Complies with the Express view system
    -->
    <%- include(pagina, datos)%>
  </div>
  <%- include("pie",{})%>
  <!--Se realiza lo mismo que con css, solo cambia la ruta-->
  <!--<script type="text/javascript" src="/javascripts/main.js"></script>-->
  <!--la variable script se configura desde las routes-->
  <script type="text/javascript" src="<%= script %>"></script>
</body>

</html>
